/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  
}
.logo-font{font-family: 'Parisienne', cursive; font-family: 35px;}
.font-min{ font-family: Arial; font-size: 12px;}
.navbar{border-radius: 0;}
.navbar-brand{font-size: 35px;}
.navbar .nav > li:first-child > a{border-radius: 0;}
.jumbotron{ background: url('../img/bg.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
 font-family: 'Poiret One', Arial; border-bottom: 3px solid #34495e; min-height: 370px; margin-bottom: 0;}
.jumbotron .container {background: url('../img/bg-alpha.png') repeat-y; padding: 10px 20px;}
.jumbotron .container h1{color: #FFF;}
.jumbotron .container p{color: #FFF; text-shadow: 1px 1px 2px #333;}
.jumbotron .container .box-busca{background: #FFF; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; padding-bottom: 10px; font-family: Arial, sans-serif;}
.jumbotron .container .box-busca form legend{color: #3276b1; font-family: 'Poiret One';}

#mapa{width: 100%; height: auto; min-height: 40em; margin-bottom: 5px; padding: 0; margin: 0; border-bottom: 3px solid #34495e;}

footer{margin-top: 10px;}
footer p{padding: 10px;}

/* =============== Estilos do autocomplete =============== */
.ui-autocomplete { 
	background: #fff; 
	border-top: 1px solid #ccc;
	cursor: pointer; 
	font: 15px 'Open Sans',Arial;
	margin-left: 3px;
	width: 500px !important;
	position: fixed;
	padding-left: 2px;
}

.ui-autocomplete .ui-menu-item { 
	list-style: none outside none;
	padding: 7px 0 9px 2px;
}

.ui-autocomplete .ui-menu-item:hover { background: #eee }

.ui-autocomplete .ui-corner-all { 
	color: #666 !important;
	display: block;
}